RewriteEngine On
RewriteBase /portal/api/

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^login/?$ login.php [QSA,L]
RewriteRule ^signup/?$ signup.php [QSA,L]
RewriteRule ^me/?$ me.php [QSA,L]
RewriteRule ^logout/?$ logout.php [QSA,L]
RewriteRule ^admin/users/?$ admin.users.php [QSA,L]
RewriteRule ^admin/users/(.*)$ admin.users.php?path=$1 [QSA,L]
RewriteRule ^dashboard/([a-z]+)/?$ dashboard.$1.php [QSA,L]
